@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="creation-message-container">
    <h2>
        <strong>Ticket successfully created!</strong>
        <a href="/" class="btn">Back to home</a>
    </h2>
</div>
