<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Supermarket.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="SupermarketDB" connectionString="Data Source=localhost;Initial Catalog=SupermarketDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SupermarketDBMySQLConnectionString" connectionString="server=localhost;database=supermarket;uid=root;pwd=root" providerName="MySql.Data.MySqlClient" />
    <add name="ProductEntities" connectionString="metadata=res://*/ProductModel.csdl|res://*/ProductModel.ssdl|res://*/ProductModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Vladislav\Documents\Visual Studio 2012\Projects\Supermarket\Supermarket.UI\products-taxes.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Supermarket.UI.Settings>
      <setting name="ExcelReadConnectionString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties="Excel 12.0 Xml;HDR=YES";</value>
      </setting>
      <setting name="SQLiteConnectionString" serializeAs="String">
        <value>Data Source=..\..\products-taxes.db;Version=3;</value>
      </setting>
      <setting name="ExcelWriteConnectionString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=../../Products-Total-Report.xlsx;Extended Properties="Excel 12.0 Xml;HDR=YES";</value>
      </setting>
    </Supermarket.UI.Settings>
  </userSettings>
</configuration>