@model IList<TicketingSystem.Web.ViewModels.Home.DisplayTicketViewModel>

@{
    ViewBag.Title = "Ticketing System";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    @for (var i = 0; i < Model.Count; i++)
    {
        @Html.Partial("_Ticket", this.Model[i])
           
        if (i > 0 && (i + 1) % 3 == 0 && i != Model.Count - 1)
        {
            @:</div>
            @:<div class="row">
        }
    }
</div>