@using TwitterLikeSystem.ViewModels

@{
    ViewBag.Title = "Twitter-Like System";
}

@(Html.Kendo().ListView<TweetViewModel>()
    .Name("tweets-list")
    .TagName("div")
    .ClientTemplateId("tweets-list-template")
    .DataSource(dataSource =>
    {
        dataSource.Read(read => read.Action("ReadTweets", "Home"));
        dataSource.PageSize(10);
    })
    .Pageable()
)

<script id="tweets-list-template" type="text/x-kendo-template">
    <div class="tweet">
        # if (!IsPrivate) { #
        <h4>#:Author#</h4>
        <h3>#:Content#</h3>
        <div>#:DatePublished#</div>
        # } #
    </div>
</script>