@using Exam.ViewModels

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="kendo-style-default">
    @(Html.Kendo().Grid<CategoryViewModel>()
        .Name("DataGrid")
        .ColumnMenu()
        .Pageable(x => x.Refresh(true))
        .Sortable(x => x.Enabled(true).AllowUnsort(false))
        .Filterable(x => x.Enabled(true))
        .Groupable(x => x.Enabled(true))
        .Reorderable(x => x.Columns(true))
        .Resizable(x => x.Columns(true))
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp).TemplateName("/Category");
            editable.Window(w => w.Title("Category"));
            editable.DisplayDeleteConfirmation("Are you sure you want to delete the category? "
                + "(All tickets with their comments will be deleted too!)");
        })
        .Columns(columns =>
        {
            columns.Bound(m => m.Name);
            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            }).Title("Commands");
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Events(ev => ev.Error("displayAllValidationMessagesForGrid"))
            .PageSize(10)
            .Model(model => model.Id(m => m.Id))
            .ServerOperation(true)
            .Batch(false)
            .Create(create => create.Type(HttpVerbs.Post).Action("Create", "CategoriesAdministration", new { area = "" }))
            .Read(read => read.Type(HttpVerbs.Post).Action("Read", "CategoriesAdministration", new { area = "" }))
            .Update(update => update.Type(HttpVerbs.Post).Action("Update", "CategoriesAdministration", new { area = "" }))
            .Destroy(destroy => destroy.Type(HttpVerbs.Post).Action("Destroy", "CategoriesAdministration", new { area = "" }))
        )
        .ToolBar(toolbar =>
        {
            toolbar.Create().Text("New category");
            toolbar.Custom().Action("Index", "Home", new { area = "" }).Name("custom-toolbar-button").Text("Back to home page");
        })
    )
</div>

@section scripts {
    <script src="~/Scripts/grid-errors.js"></script>
}