div {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

    table th {
        background-color: #d1cdcd;
    }

table td, table th {
  border: 1px solid black;
  padding: 10px;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
  border-left: 0;
}

table tr td:last-child, table tr th:last-child {
  border-right: 0;
}

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }