<script type="text/x-kendo-template" id="appointment-create-form">
    <button id="btn-back" class="btn" onclick="history.back();">Back</button>

    <fieldset>
        <legend>New appointment</legend>
        <label for="tb-subject">Subject: </label>
        <input data-bind="value: subject" type="text" id="tb-subject" />
        <label for="tb-description">Description: </label>
        <input data-bind="value: description" type="text" id="tb-description" />
        <label for="tb-appointment-date">Appointment date: </label>
        <input data-bind="value: appointmentDate" id="tb-appointment-date" />
        <label for="tb-duration">Duration: </label>
        <input data-bind="value: duration" id="tb-duration" />
        <button data-bind="click: create" class="btn" style="display: block; margin: 10px 0;">Create</button>
    </fieldset>
    <a class="btn" href="#/logout">Logout</a>
</script>