<ul id="main-menu">
    <li>
        <a class="btn main-menu-item" href="#/home">
            Home
        </a>
    </li>
    <li>
        <a class="btn main-menu-item" href="#/appointments">
            All appointments
        </a>
    </li>
    <li>
        <a class="btn main-menu-item" href="#/appointments/comming">
            Comming appointments
        </a>
    </li>
    <li>
        <a class="btn main-menu-item" href="#/appointments/today">
            Appointments for today
        </a>
    </li>
    <li>
        <a class="btn main-menu-item" href="#/appointments/current">
            Current appointments
        </a>
    </li>
    <li>
        <a class="btn main-menu-item" href="#/appointments/date">
            Appointments for a date
        </a>
    </li>
    <li>
        <a class="btn main-menu-item" href="#/todo-lists">
            TODO Lists
        </a>
    </li>
    <li>
        <a id="logout" class="btn" href="#/logout">
            Logout
        </a>
    </li>
</ul>