<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStringInAnotherApperancesService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9957/StringInAnotherApperancesService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringInAnotherApperancesService"
          contract="IStringInAnotherApperancesService" name="BasicHttpBinding_IStringInAnotherApperancesService" />
    </client>
  </system.serviceModel>
</configuration>