div, form, button, a, li, ul, table, td, th, thead, tbody, tfoot, h1, h2, h3, h4, h5, h6, span, ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

    a:hover {
        text-decoration: underline;
    }

#game-container {
    border: 1px solid #0094ff;
    border-radius: 5px;
    width: 640px;
    padding: 50px;
}

input {
    display: block;
}

.button {
    padding: 5px;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
}

    .button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.selected {
    font-weight: bold;
}

ul {
    list-style: none;
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

#btn-logout, .btn-back, #btn-sign-in, #btn-sign-up {
    float: right;
}

#game-title {
    text-align: center;
    margin-bottom: 10px;
}

#nickname-heading {
    text-align: right;
}

#new-game-create-container {
    margin: 20px;
}

#tb-new-game-title, #tb-new-game-password, #tb-join-password {
    display: inline-block;
}

#active-games-container {
    float: right;
    border: 1px solid #0094ff;
    padding: 20px;
    border-radius: 5px;
}

#open-games-container {
    float: left;
    border: 1px solid #4cff00;
    border-radius: 5px;
    padding: 20px;
}

.btn-active-game {
    font-weight: bold;
    font-size: 1.1em;
    color: #0094ff;
}

.btn-open-games {
    font-weight: bold;
    font-size: 1.1em;
    color: #4cff00;
}

#successfull-game-created-msg {
    color: green;
}

#btn-game-start {
    padding: 0 3px;
    margin-left: 10px;
}

td {
    padding: 10px 20px;
}

.warrior {
    background-color: #f00;
}

.range {
    background-color: #0ff;
}

#game-field {
    margin: 20px;
}