<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NumberOfRowsInCategoriesTable.DBConnectionString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NumberOfRowsInCategoriesTable.DBConnectionString>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Server=localhost; Database=NORTHWND; Integrated Security=true</value>
            </setting>
        </NumberOfRowsInCategoriesTable.DBConnectionString>
    </userSettings>
</configuration>