<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayOfWeekInBulgarianService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8557/DayOfWeekInBulgarianService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDayOfWeekInBulgarianService"
                contract="DayOfWeekInBulgarianService.IDayOfWeekInBulgarianService"
                name="BasicHttpBinding_IDayOfWeekInBulgarianService" />
        </client>
    </system.serviceModel>
</configuration>