div {
    background-color: black;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding-right: 17px;
}