<h2>Car Store</h2>
<div data-template="car-store-template" data-bind="source: carStore"></div>

<script type="text/kendo-x-template" id="car-store-template">
    <div>
        <div><strong>Name: <span data-bind="text: name"></span></strong></div>
        <div><strong>Latitude: <span data-bind="text: latitude"></span></strong></div>
        <div><strong>Longitude: <span data-bind="text: longitude"></span></strong></div>
        <!--<div>
            TODO: Cars list!!!
        </div>-->
    </div>
</script>